<%- include("../navbar") %><%- include("./postWorkBtn") %>

<section class="posted_works_container">
  <div class="container py-5">
    <% if(works.length == 0){ %>
    <div class="no_data">
      <h4>Opps! No Data Found.</h4>
      <img src="/images/no_data.png" alt="" />
    </div>
    <% } %>
    <div class="row row-cols-md-4 g-5 py-4">
      <% works.forEach((work) => { %>
      <div class="col">
        <div class="card">
          <img src="/<%= work.image %>" class="card-img-top" height="200px" />
          <div class="card-body border-top">
            <p class="card-title"><%= work.title %></p>
            <div class="d-flex align-items-center mb-4">
              <p class="card-text mb-0 me-1 badge bg-dark">
                <%= work.category %>
              </p>
              <p class="card-text mb-0 badge bg-secondary">
                <%= work.subcategory %>
              </p>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <div class="dropdown dropup">
                <a
                  class="text-decoration-none"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="las la-ellipsis-h text-dark"></i>
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li>
                    <a
                      class="dropdown-item"
                      href="/volunteering/work/category/<%= work.category %>/<%= work._id %>"
                      >View</a
                    >
                  </li>
                  <li><a class="dropdown-item" href="#">Edit</a></li>
                </ul>
              </div>
              <form
                action="/pofile/mywork/posted/<%= work._id %>"
                method="post"
                id="deleteWork"
              >
                <a
                  class="btn btn-danger"
                  onclick="document.getElementById('deleteWork').submit()"
                  ><i class="las la-trash"></i> Delete</a
                >
              </form>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</section>
